td{
	height: 20px;
}
table input{
	margin: 0;
	width: 97%;
	border: 1px solid black;
}
.section-wrapper{
	margin: 20px;
	padding: 10px;
	background-color: #f1f1f1;
}
.section-title:hover{
	background-color: darkgrey;
}
th{
	border: 1px solid black;
	text-align: center !important;
}
.section-title{
	margin: 5px;
	border: 1px solid black;
	background-color: lightgrey;
	justify-content: center;
	cursor: pointer;
}
.content{
	display: None;
}
.border-line{
}
p{
	margin: 5px;
}
.text-wrapper{
	justify-content: space-around;
}
input{
	margin: 5px;
}
.input-wrapper{
}
label{
	margin: 5px;
}
table{
	width: 100%;
	border: 1px solid black;
}
