body{
    color: #444;
    font-family: "Open Sans", sans-serif;
}

.btn-upload{
    margin: 20px;
}

#img-form-uploaded{
    margin: 20px auto;
    border: 1px solid;
    box-shadow: 5px 10px lightgrey;
    max-height: 80vh;
    display: none;
}

.cover-heading{
    margin: 80px;
}

#waiting{
    display: none;
    margin: 20px;
}

/* Loader */
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3399ff;
    border-bottom: 10px solid #3399ff;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    margin: 15px auto;
    /*display: none;*/
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal{
    color: #999999;
}

#btn-start{
    font-size: 15px;
    width: 200px;
    height: 50px
}

#main-contents{
    display: none;
}

.navbar-brand{
    color: #00366f;
}

.content-wrapper{
    border: 1px solid black;
    border-top: none;
    height: 90vh;
    overflow: auto;
    padding: 0;
}

.content-bar{
    width: 100%;
    height: 40px;
    color: #999999;
    border:  1px solid;
    padding: 5px;
}

.bar-header{
    color: #777777;
    font-size: 18px;
    margin: 10px 10px;
}

#top-btn-fill{
    float: right;
    margin: -3px 10px;
    width: 100px;
}

.img-wrapper{
    overflow-y: auto;
    width: 100%;
    height: calc(99% - 40px);
}

#iframe-page-fill{
    width: 100%;
    height: calc(99% - 40px);
    border: none;
}

#preview-note{
    padding: 40px;
}

.img-viewer{
    width: 100%;
}

.footer{
    height: 60px;
    width: 100%;
    margin-top: 30px;
    padding-top: 6px;
    text-align: center;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    color: grey;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
