.section-wrapper{
	padding: 10px;
	background-color: #f1f1f1;
	margin: 20px;
}
.input-wrapper{
}
.text-wrapper{
	justify-content: space-around;
	margin: 10px;
}
td{
	height: 20px;
}
th{
	text-align: center !important;
	border: 1px solid black;
}
table input{
	width: 97%;
	border: 1px solid black;
	margin: 0;
}
.section-title{
	transition: 0.5s;
	justify-content: center;
	border: 1px solid black;
	margin-top: 10px;
	cursor: pointer;
	background-color: lightgrey;
	margin-bottom: 10px;
}
label{
	margin: 5px;
}
p{
	margin: 5px !important;
}
table{
	width: 100%;
	border: 1px solid black;
}
input{
	margin: 5px;
}
.speaker{
	margin-left: 10px;
}
.content{
	display: None;
}
.section-title:hover{
	background-color: #BFBEBE;
}
.border-line{
}
