label{
	margin: 5px;
}
td{
	height: 20px;
}
.section-title{
	background-color: lightgrey;
	border: 1px solid black;
	margin: 5px;
	display: flex;
	cursor: pointer;
	justify-content: center;
}
th{
	border: 1px solid black;
}
p{
	margin: 5px;
}
.text-wrapper{
	justify-content: space-around;
}
.border-line{
}
.section-wrapper{
	margin: 20px;
	background-color: #f1f1f1;
	padding: 10px;
}
table{
	border: 1px solid black;
	width: 100%;
}
input{
	margin: 5px;
}
.content{
	display: None;
}
.section-title:hover{
	background-color: darkgrey;
}
table input{
	margin: 0;
	border: 1px solid black;
	width: 97%;
}
.input-wrapper{
}
