.btn-upload{
    margin: 20px;
}

.content-wrapper{
    border: 1px solid black;
    height: 80vh;
    overflow: auto;
}

#iframe-page-fill{
    width: 100%;
    height: 98%;
}

#img-detection-res{
    width: 100%;
}
